{% macro render_badges() %}
  {% if bag('badges').get('linkedin_username', None) %}
    <a target="_new" href="https://linkedin.com/in/{{ bag('badges').get('linkedin_username') }}" alt="LinkedIn" title="LinkedIn">
      <span class="icon fa fa-2x fa-linkedin"></span>
    </a>&nbsp;&nbsp;
  {% endif %}
  {% if bag('badges').get('twitter_username', None) %}
    <a target="_new" href="https://twitter.com/{{ bag('badges').get('twitter_username') }}" alt="Twitter" title="Twitter">
      <span class="icon fa fa-2x fa-twitter"></span>
    </a>&nbsp;&nbsp;
  {% endif %}
  {% if bag('badges').get('feed', None) %}
    <a target="_new" href="{{ site.baseurl }}{{ bag('badges').get('feed') }}" alt="Feed" title="Feed">
      <span class="icon fa fa-2x fa-rss-square"></span>
    </a>&nbsp;&nbsp;
  {% endif %}
  {% if bag('badges').get('github_username', None) %}
    <a target="_new" href="https://github.com/{{ bag('badges').get('github_username') }}" alt="Github profile" title="Github profile">
      <span class="icon fa fa-2x fa-github"></span>
    </a>&nbsp;&nbsp;
  {% endif %}
  {% if bag('badges').get('facebook_username', None) %}
    <a target="_new" href="https://www.facebook.com/{{ bag('badges').get('facebook_username') }}" alt="Facebook" title="Facebook">
      <span class="icon fa fa-2x fa-facebook">Facebook</span>
    </a>&nbsp;&nbsp;
  {% endif %}
  {% if bag('badges').get('portfolio', None) %}
    <a target="_new" href="{{ bag('badges').get('portfolio') }}" alt="Portfolio" title="Portfolio">
      <span class="icon fa fa-2x fa-user"></span>
    </a>
  {% endif %}
{% endmacro %}