{% if site.author.linkedin_username %}
  <a target="_new" href="https://linkedin.com/in/{{ site.author.linkedin_username }}">
    <span class="btn-lg icon fa fa-2x fa-linkedin"></span>
  </a>
{% endif %}
{% if site.author.twitter_username %}
  <a target="_new" href="https://twitter.com/{{ site.author.twitter_username }}">
    <span class="btn-lg icon fa fa-2x fa-twitter"></span>
  </a>
{% endif %}
{% if site.author.feed %}
  <a target="_new" href="{{ site.baseurl }}{{ site.author.feed }}">
    <span class="btn-lg icon fa fa-2x fa-rss-square"></span>
  </a>
{% endif %}
{% if site.author.github_username %}
  <a target="_new" href="https://github.com/{{ site.author.github_username }}">
    <span class="btn-lg icon fa fa-2x fa-github"></span>
  </a>
{% endif %}
{% if site.author.google_plus_username %}
  <a target="_new" href="https://plus.google.com/{{ site.author.google_plus_username }}">
    <span class="btn-lg icon fa fa-2x fa-google-plus"></span>
  </a>
{% endif %}
{% if site.author.facebook_username %}
  <a target="_new" href="https://www.facebook.com/{{ site.author.facebook_username }}">
    <span class="btn-lg icon fa fa-2x fa-facebook">Facebook</span>
  </a>
{% endif %}
{% if site.author.email %}
  <a target="_new" href="mailto:{{ site.author.email }}">
    <span class="btn-lg icon fa fa-2x fa-envelope-o"></span>
  </a>
{% endif %}