{% macro render_pagination(pagination) %}
  {% if pagination.pages > 0 %}
    <div class="row">
      <div class="pagination col-xs-12 col-xs-offset-6 center-block">
        {% if pagination.has_next %}
          <a class="btn btn-primary" href="../../page/{{ pagination.pages|string }}/"><span class="fa fa-fast-backward"></span></a>
          <a class="btn btn-primary" href="{{ pagination.next|url }}"><span class="fa fa-step-backward"></span></a>
        {% endif %}
        {% if pagination.has_next or pagination.has_prev %}
          <a class="btn btn-secondary" href="#">{{ pagination.page }}</a>
        {% endif %}
        {% if pagination.has_prev %}
          <a class="btn btn-primary" href="{{ pagination.prev|url }}"><span class="fa fa-step-forward"></span></a>
        {% endif %}
        {% if pagination.page > 1 %}
          <a class="btn btn-primary" href="../../"><span class="fa fa-fast-forward"></span></a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}
