{% macro render_post_row(post, from_index=false) %}
    <div class="col-xs-12">
        <header>
            <p class="alert alert-info text-center pull-right">
                {{ post.date | date: "%b %d" }}<br/>
                {{ post.date | date: "%Y" }}
            </p>
            <h3><a href="{{ post.slug }}.html">{{ post.title }}</a></h3>
        </header>
        <section>
            {{ post.excerpt }}
            <a href="{{post.slug}}.html">Read more &raquo;</a>
        </section>
    </div>
{% endmacro %}