{% macro render_post_box(post, from_index=false) %}
    <div class="col-lg-3 col-md-4 col-xs-12 card alert alert-warning m1-3" style="margin-right: 5%">
        <div class="card-body">
            <div class="alert alert-info text-center pull-right">
                {{ post.date | dateformat('MMM d') }}<br/>
                {{ post.date | dateformat('Y') }}
            </div>
            <p class="card-title">
                <a href="{{ post|url }}">{{ post.title }}</a>
            </p>
        </div>
    </div>
{% endmacro %}