{% macro render_post_row(post, from_index=false) %}
    <div class="col-xs-12">
        <header>
            <p class="alert alert-info text-center pull-right">
                {{ post.date | dateformat('MMM d') }}<br/>
                {{ post.date | dateformat('Y') }}
            </p>
            <h3><a href="{{post|url}}">{{ post.title }}</a></h3>
        </header>
        <section>
            {% if from_index == True %}
                {{ post.body|excerpt }}
                <a href="{{post.slug}}.html">Read more &raquo;</a>
            {% else %}
                {{ post.body }}
            {% endif %}
        </section>
    </div>
{% endmacro %}