<div class="row">
    <div class="col-xs-6">
        {% if paginator.next_page %}
            <br/>
            <p>
                {% if paginator.page == 1 %}
                    <a class="btn btn-primary" href="{{paginator.next_page}}">
                {% else %}
                    <a class="btn btn-primary" href="../{{paginator.next_page}}">
                {% endif %}
                &laquo; Past</a>
            </p>
        {% endif %}
    </div>
    <div class="col-xs-6 pull-right text-right">
        {% if paginator.previous_page %}
            <br/>
            <p>
                {% if paginator.page > 2 %}
                    <a class="btn btn-primary" href="../{{paginator.previous_page}}">
                {% else %}
                    <a class="btn btn-primary" href="../">
                {% endif %}
                Present &raquo;</a>
            </p>
        {% endif %}
    </div>
</div>
