{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/site_tags.html" import render_site_tags %}
{% block title %}<title>{% if this.title %}{{this.title}} - {% endif %}{{ config.PROJECT.name }}</title>{% endblock %}
{% block body %}
  <!-- blog layout -->
  {{ render_pagination(this.pagination) }}
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
  <div class="col-xs-12">
    {{ render_site_tags(min_count=2) }}
  </div>
{% endblock %}
