{% extends "layout.html" %}
{% from "macros/post_box.html" import render_post_box %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}<title>{% if this.title %}{{this.title}} - {% endif %}{{ config.PROJECT.name }}</title>{% endblock %}
{% block body %}
  <!-- blog layout -->
  {{ render_pagination(this.pagination) }}

  {% for child in this.pagination.items %}
    {{ render_post_box(child, from_index=True  ) }}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
{% block tags %}{% endblock %}