---
layout: default
---
<div class="row">
    {% if page.group_type == 'tag' %}
        {% assign post_list = site.data.tags[page.tag].posts %}
    <div class="page-header">
        <h2>Tag: '{{page.tag}}'</h2>
    </div>
    {% elsif page.group_type == 'category' %}
        {% assign post_list = site.data.categories[page.tag].posts %}
    <div class="page-header">
        <h2>Category: '{{page.tag}}'</h2>
    </div>
    {% endif %}
    {% for post in post_list %}
    <div class="col-lg-3 col-md-4 col-xs-12 card alert alert-warning m1-3" style="margin-right: 5%">
        <div class="card-body">
            <div class="alert alert-info text-center pull-right">
                {{ post.date | date: "%b %d" }}<br/>
                {{ post.date | date: "%Y" }}
            </div>
            <p class="card-title">
                <a href="/{{ post.url }}/">{{ post.title }}</a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>